
   <div class="btn btn-large btn-primary">
      <%= link_to 'New Product', new_product_path %>
    </div>
<h1>Welcome to cO(n)go</h1>
  
 
    <% @products.each do |product| %>
      <div class="col-md-4 thumbnail">
  
            <p>Product:<%= product.name %></p>
            <p>Description:<%= product.description %></p>
                <%= link_to 'path' do %>
                  <%= image_tag product.pic, class: 'product-thumbnail' %>
                <% end %>
                <%= product.formatted_price %>

            
            
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  
      </div>
        
    <% end %>