

<div id="logo" class="text-center">
  <%= image_tag 'congo.png' %>
  <h4>Date the Wyncode Staff!</h4>
</div>


<% @products.each do |product| %>
<dl class="col-md-4 col-span-3">
    <a href="http://localhost:3000/products/<%= product.id %>"><%= image_tag product.pic, class: 'product-image' %></a>
  <dt id="product-name">
    <%= product.name %>
  </dt>
  <dd>
    <p><%= product.description %></p>
  </dd>

  <dt class="price">
    <a href="http://localhost:3000/products/<%= product.id %>">ONLY $<%= product.formatted_price %></a>
  </dt>
  

  <dd>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </dd>
</dl>

<% end %>
