<p id="notice"><%= notice %></p>
<div>

  <!-- place we might put put pictures -->
  <dl>
    <%= image_tag @product.pic, class: "profile-pic" %>
    <dt class="show-name">
      <%= @product.name %>
    </dt>

     <dd class="show-description">

      <%= @product.description %>

    </dd><br/>

    <dt class="price">
      Date this person! Just $<%= @product.formatted_price %>!
    </dt>

  </div>
  <form id='stripe-form' action="" method="GET">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_0DUOXU6bGnHcE9pdeAVcWzEUBgrmj"
      data-amount="<%= @product.price_in_cents%>"
      data-name="cO(n)go"
      data-description="<%= @product.name %> (<%= @product.formatted_price%>)"
      data-image='assets/yoda.png'>
    </script>
  </form>

  </dl>

  <div id="reviews-list">
    <h4>Reviews (<a href="#"><%= @product.reviews.count %></a>)</h4>
    <% @product.reviews.each do |review| %>
    	<p>
    		<%= review.comment %>
    		<br>
    		Added: <%= time_ago_in_words review.created_at %> ago
        <br/>
        Created by user: <%= review.user.username %>
    	</p>

    <% end %>
</div>

<div class="">
	<a href="#" class="review-toggle"><h5 class="review-toggle">Add Review</h5></a>

  <div class="review-class">
    <p id="review-form"><%= render 'reviews/form' %></p>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Home', products_path %>
</div>
