<p id="notice"><%= notice %></p>
<div>

  <!-- place we might put put pictures -->
  <dl>
    <%= image_tag @product.pic, class: "profile-pic" %>
    <dt class="show-name">
      <%= @product.name %>
    </dt>

     <dd class="show-description">

      <%= @product.description %>

    </dd><br/>

    <dt class="show-price">
      Date this person! Just $<%= @product.formatted_price %>!
    </dt>

  </div>
  <form action="" method="GET">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_0DUOXU6bGnHcE9pdeAVcWzEUBgrmj"
      data-amount="<%= @product.price_in_cents%>"
      data-name="cO(n)go"
      data-description="<%= @product.name %> (<%= @product.formatted_price%>)"
      data-image="/128x128.png">
    </script>
  </form>

  </dl>

  <div id="reviews-list">
  <h3>Reviews</h3>
  <% @product.reviews.each do |review| %>
  	  <p>
  		<%= review.comment %>
  		<br>
  		Added: <%= time_ago_in_words review.created_at %> ago
  	</p>

  <% end %>
</div>

<div>
	<h3>Add Review</h3>
	<%= render 'reviews/form' %>
</div>

<div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
